<div class="modal fade" id="adviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content ">

            <div class="modal-body">
                <div class="container-fluid">
                <div class="row">
                <h4 class="col-4">Nombre Usuario</h4>
                <h4 class="col-6 offset-2">Aviso idAviso: sugerencia</h4>
                </div>
                <br>
                <p><b>Fecha: x/x/2024</b></p>
                <p><b>Comunicaciones: </b> correo@ucm.es</p>
                <p><b>Perfil:</b> XXX</p>
                <p><b>Observaciones:</b> </p>
                <p class="col-10  observaciones">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum distinctio dolor culpa aliquam qui alias
                voluptates debitis ducimus expedita, provident ab, assumenda iusto laudantium minima maiores repellendus
                earum illum hic.
                </p>
                <br>
                <p><b>Comentarios del Tecnico:</b></p>
                <p class="col-10  observaciones">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum distinctio dolor culpa aliquam qui alias
                voluptates debitis ducimus expedita, provident ab, assumenda iusto laudantium minima maiores repellendus
                earum illum hic.
                </p>

            </div>
            <div>
                <p>Este aviso ha sido eliminado por el técnico AitorTilla debido </p>
                <br>
                <p class="col-10  observaciones">Eres tontín macho </p>
            </div>

            </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>