<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content ">
            <form action="/messages/create-message" method="post" id="create-form">
                <div class="modal-header">
                    <span class="bold" id="modal-username">Crear nuevo aviso</span>
                </div>
                <div class="modal-body" id="modal-create-body">
                    <div class="modal-type-container">
                        <select name="type" id="type" required>
                            <option value="" disabled selected>Tipo</option>
                            <option value="Sugerencia">Sugerencia</option>
                            <option value="Incidencia">Incidencia</option>
                            <option value="Felicitacion">Felicitación</option>
                        </select>
                    </div>
                    <div class="modal-group-container">
                        <select name="group" id="group" required>
                        </select>
                    </div>
                    <div class="modal-subgroup-container">
                        <select name="subgroup" id="subgroup" required>
                        </select>
                    </div>
                    <div class="modal-observations-container">
                        <label for="observations" class="bold">Observaciones:</label>
                        <textarea name="text" id="comments" placeholder="Introduce aquí el motivo de tu aviso..." required></textarea>
                    </div>
                    <div class="modal-select-container invisible">
                        <select name="select" id="select">
                            <option value="Sugerencia" selected>Sugerencia</option>
                            <option value="Queja">Queja</option>
                        </select>
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="modal-close" id="close-modal-create">Cancelar</button>
            <button type="submit" form="create-form" class="modal-action" id="close-modal-create">Crear Aviso</button>
        </div>
    </div>
</div>
