<div class="modal fade" id="historicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content ">
            <div class="modal-body">
               
                <div class="modal-technician-container">
                    <p>Este aviso ha sido eliminado por el técnico <p id="modal-technician"></p></p>
                </div>
                <div class="modal-comments-container">
                    <span class="bold" id="modal-comments-label">Comentarios del Técnico:</span>
                    <p id="modal-comments"></p>
                </div>
            
            </div>
            <div class="modal-footer">
                <button class="modal-close" onclick = closeModal()>Cerrar</button>
            </div>
        </div>
    </div>
</div>