<nav class="navbar">
    <div class="navbar-content">
        <img class="navbar-logo" src="/img/ucm-logo.png" alt="logo">
        <div class="navbar-text">
            <span>UCM-CAU</span>
            <span>Centro de Atención al Usuario</span>
        </div>
        <div>
            <ul class="navbar-links">
                <li class="nav-item current">
                    <a class="nav-link" href="#">Mis Avisos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Histórico de Avisos</a>
                </li>
            </ul>
        </div>
        <div class="navbar-user">
            <img class="user-image" src="/users/userImg" alt="imagen">
            <div class="user-div">
                <span class="username"><%= locals.user.username %> </span>
                <form action="/logout">
                    <button class="logout-button">Desconectar</button>
                </form>
            </div>
        </div>
    </div>
</nav>