<table class="table">
    <thead>
        <tr class="table-header">
          <th class="dateColumn top-left-corner">Fecha</th>
          <th class="textColumn">Texto</th>
          <th class="typeColumn">Tipo</th>
          <th class="assignedToColumn top-right-corner">Técnico</th>
        </tr>
      </thead>
      <tbody>
        <% messages.forEach((message, i) => { %>
          <tr class="table-row" id="row-<%= i %>">
            <td class="date"><%= message.fecha %></td>
            <td class="text"><%= message.texto.length > 199 ? message.texto.slice(0, 200) + "..." : message.texto %></td>
            <% switch (message.tipo) {
              case "Felicitacion": %>
                <td class="type"><i class="fa-solid fa-heart fa-xl green"></i></td>
               <% break;
              case "Sugerencia": %>
                <td class="type"><i class="fa-solid fa-lightbulb fa-xl yellow"></i></td>
               <% break;
              case "Queja": %>
                <td class="type"><i class="fa-solid fa-lightbulb fa-xl yellow"></i></td>
               <% break;
              case "Incidencia": %>
                <td class="type"><i class="fa-solid fa-circle-exclamation fa-xl red"></i></td>
               <% break;
              default:
                break;
            } %> 
            <td class="assignedTo"><%= message.tecnico !== null ? message.tecnico : "" %></td>
          </tr>
       <% }); %> 
      </tbody>
</table>