<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/authenticationStyles.css">
    <script src="https://kit.fontawesome.com/4b4a59d23d.js" crossorigin="anonymous"></script>
    <title>UCM-CAU</title>
</head>
<body>
    <main class="container">
        <div class="logo-container">
            <img class="logo" src="./img/ucm-logo.png" alt="">
        </div>
        <div class="login-container">
            <form class="login-form" action="">
                <p class="form-title">Iniciar Sesión</p>
                <div class="email-container">
                    <i class="fa-solid fa-envelope icon"></i>
                    <input class="login-input email" type="text" placeholder="Correo">
                </div>
                <div class="password-container">
                    <i class="fa-solid fa-lock icon"></i>
                    <input class="login-input password" type="password" name="password" id="password" placeholder="Contraseña">
                </div>
                <div class="form-actions">
                    <p>¿No tienes cuenta? <a href="">Regístrate</a></p>
                    <button class="login-button" type="submit">Iniciar</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>