<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/4b4a59d23d.js" crossorigin="anonymous"></script>
    <script src="./../utils.js"></script>
    <title>UCM-CAU</title>
</head>
<body>
    <main class="container">
        <div class="logo-container">
            <img class="logo" src="./img/ucm-logo.png" alt="">
        </div>
        <div class="signup-container">
            <form class="signup-form" action="">
                <p class="form-title">Registrarse</p>
                <div class="email-container">
                    <i class="fa-solid fa-envelope icon"></i>
                    <input class="signup-input email" type="text" placeholder="Correo">
                </div>
                <div class="username-container">
                    <i class="fa-solid fa-user icon"></i>
                    <input class="signup-input username" type="text" placeholder="Nombre de Usuario">
                </div>
                <div class="password-container">
                    <i class="fa-solid fa-lock icon"></i>
                    <input class="signup-input password" type="password" name="password" id="password" placeholder="Contraseña">
                </div>
                <div class="profile-container">
                    <i class="fa-solid fa-address-card icon"></i>
                    <select class="signup-input profile" name="profile" id="profile">
                        <option value="invalid" selected disabled>Perfil Universitario</option>
                        <option value="student">Alumno</option>
                        <option value="PAS">Personal de Administración y Servicios</option>
                        <option value="PDI">Personal Docente e Investigador</option>
                        <option value="former-student">Antiguo Alumno</option>
                    </select>
                </div>
                <div class="password-container">
                    <i class="fa-solid fa-lock icon"></i>
                    <input class="signup-input password" type="password" name="password-confirmation" id="password-confirmation" placeholder="Confirme la contraseña">
                </div>
                <div class="employee-container">
                    <div>
                        <label for="is-technician">Técnico</label>
                        <input type="checkbox" name="is-technician" id="is-technician" onclick="toggleCheckbox()">
                    </div>
                    <input class="signup-input employee-id invisible" type="text" name="employee-id" id="employee-id" placeholder="Nº Empleado">
                </div>
                <div class="signup-actions">
                    <a href="">Ya tengo una cuenta</a>
                    <button class="signup-button" type="submit">Registrarse</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>