<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/mainPageStyles.css">
    <script src="https://kit.fontawesome.com/4b4a59d23d.js" crossorigin="anonymous"></script>
    <title>UCM-CAU</title>
</head>
<body>
    <header>
        <%- include ("./partials/userNavbar") %>
    </header>
    <main>
        <table class="table">
            <thead>
                <tr class="table-header">
                  <th class="dateColumn top-left-corner">Fecha</th>
                  <th class="textColumn">Texto</th>
                  <th class="typeColumn">Tipo</th>
                  <th class="assignedToColumn top-right-corner">Técnico</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-row">
                  <td class="date">12/10/2021</td>
                  <td class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quaerat aperiam non officia tempore aspernatur tempora dicta minima illum quisquam iure recusandae rerum molestiae sunt totam impedit ad possimus quia ipsum ut voluptate a! Vitae, ipsa? Rerum sint natus porro fuga! Itaque voluptatibus numquam doloribus consequuntur voluptatem dolore voluptates earum!</td>
                  <td class="type"><i class="fa-solid fa-circle-exclamation red"></i></td>
                  <td class="assignedTo"></td>
                </tr>
                <tr class="table-row">
                    <td class="date">10/10/2021</td>
                    <td class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores perspiciatis error incidunt corrupti sapiente harum, rem dolor id. Asperiores blanditiis ad rerum reiciendis molestias iste totam consectetur autem, sint qui.</td>
                    <td class="type"><i class="fa-solid fa-lightbulb yellow"></i></td>
                    <td class="assignedTo">Aitor Tilla</td>
                </tr>
                <tr class="table-row">
                    <td class="date">05/01/2021</td>
                    <td class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, dolores adipisci facere ipsum magni laboriosam voluptatem neque, assumenda explicabo deleniti animi qui architecto libero provident sit ipsa et sint suscipit molestias repellat at tempore dolorum veritatis. Saepe ipsa consectetur tempore porro! Tempora, veniam, possimus corrupti odio quos aliquid quo dolor iusto neque doloribus, aspernatur excepturi nostrum voluptas in laborum unde ab magnam aut qui ducimus error blanditiis magni totam. Repellendus dicta, natus neque accusamus placeat laborum, porro mollitia vitae maiores quasi tenetur? Quisquam error aspernatur totam nostrum odio placeat mollitia consequatur minus earum natus! Officiis aut nobis vitae suscipit sequi?</td>
                    <td class="type"><i class="fa-solid fa-heart green"></i></td>
                    <td class="assignedTo">Felipe Lotas</td>
                </tr>
              </tbody>
        </table>
    </main>
    <script>
      const tableRows = document.querySelectorAll(".table-row")
      tableRows.forEach((row) => {
        row.addEventListener("click", e => {
            <!-- TODO: abrir modal --> 
            console.log("Clicked")
        })
      })
    </script>
</body>
</html>