@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
    --background-color: linear-gradient(90deg, rgba(216,75,86,1) 0%, rgba(119,32,162,1) 100%);
    --transparent: rgb(255, 255, 255, 0.1);
    --primary-color: #852697;
    --secondary-color: white;
}

body {
    font-family: 'Rubik';

    background: var(--background-color)
}

/* navbar */

.navbar {
    background: var(--transparent);
    color: var(--secondary-color);
    border-radius: 12px;
}

.navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 100px;
    padding: 1rem 1rem;
    margin-left: 2rem;
}

.navbar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 700;

    color: var(--secondary-color);
}

.navbar-links {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 2px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.nav-item {
    list-style: none;
    padding: 1.25rem 1rem;
    border-radius: 0.5rem;

    text-align: center;
}

.nav-item:hover {
    background: var(--secondary-color);
    -webkit-transition: background-color 0.5s ease;
}

.nav-item:hover .nav-link {
    color: var(--primary-color);
    -webkit-transition: color 0.5s ease;

}

.nav-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.current {
    background: var(--transparent);
    color: white;
}

.navbar-user {
    display: flex;
    margin-right: 2rem;
}

.user-image {
    width: 60px;
    border-radius: 0.25rem;
}

.user-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.25rem;
}

.logout-button {
    font-family: 'Rubik';
    background: var(--transparent);
    color: var(--secondary-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.logout-button:hover {
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--primary-color);
    -webkit-transition: background-color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* search bar */

.search-wrapper, .button-wrapper {
    width: 80%;
}

.search-container {
    display: flex;
    column-gap: 1rem;
    width: fit-content;
    padding: 1rem;
    border-radius: 12px;
    background: var(--transparent);
}

.search-bar {
    display: flex;
    align-items: center;
    background: var(--secondary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
}

#search {
    font-family: 'Rubik';
    border: none;
    outline: none;
}

.search-icon {
    padding: 0.1rem;
}

.search-icon:hover {
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.checkbox-container span {
    color: var(--secondary-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1rem;
    top: 4px;
    background-color: var(--transparent);
    border-radius: 40px;
    transition: all 0.3s;
    cursor: pointer;
}
  
.switch:after {
content: '';
position: absolute;
width: 0.8rem;
height: 0.8rem;
border-radius: 30px;
background-color: white;
top: 1.75px;
left: 2px;
transition: all 0.5s;
}

input[type='checkbox']:checked + .switch:after {
transform: translateX(31px);
}

input[type='checkbox']:checked + .switch {
background-color: var(--primary-color);
}

/* messages */


.table {
    width: 80%;
    border-radius: 12px;
    padding: 1rem 0;
    color: whitesmoke;
}

.top-left-corner {
    border-top-left-radius: 12px;
}

.top-right-corner {
    border-top-right-radius: 12px;
}

.table-row, .table-row-no-hover {
    background: var(--transparent);
}

.table-row:hover {
    cursor: pointer;
    background: rgb(255, 255, 255, 0.2);
}

.invisible {
    display: none;
}

th {
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 0.5rem 0;
}

td {
    padding: 1rem 1rem;
}

.textColumn {
    width: 60%;
}

.date, .type, .assignedTo {
    text-align: center;
}

.actions {
    display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.action {
	padding: 0.5rem 0;
}

.action:hover {
	cursor: pointer;
	color: black;
}

.button-wrapper {
    display: flex;
}

#open-modal-create {
    font-size: 1.25rem;
    font-family: 'Rubik';
    margin-left: auto;
    margin-right: 1rem;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 8px;

    background: var(--transparent);
    color: var(--secondary-color);
}

#open-modal-create {
    cursor: pointer;

    background-color: var(--secondary-color);
    color: var(--primary-color);
    -webkit-transition: background-color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.black {
	color: rgb(75, 68, 68);
}

/* Modals */

/* show modal */

.modal {
    font-size: 1.5rem;
}

.modal-body {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-body form {
    display: flex;
    flex-direction: column;
}

.modal-header {
    font-size: 2rem;
}

.bold {
    font-weight: bold;
}

#modal-observations, #modal-comments {
    margin-top: 0;
    padding: 0.25rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    min-height: 2rem;
}

#modal-comments-span {
    font-size: 0.75rem;
}

.modal-close {
    font-size: 1.5rem;
    font-family: 'Rubik';
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.modal-action {
    font-size: 1.5rem;
    font-family: 'Rubik';
    background: #cd465e;
    color: var(--secondary-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.modal-close:hover {
    cursor: pointer;
    background-color: #6c2b79;
}

.modal-action:hover {
    cursor: pointer;
    background-color: rgb(172, 51, 74);
}


#comments, #observations {
    font-family: 'Rubik';
    font-size: 1.5rem;
    margin-top: 1rem;
    min-height: 5rem;
    resize: none
}

/* create modal */

#modal-create-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#modal-create-body .modal-observations-container {
    margin-top: 1rem;
    grid-column: span 3;
    display: flex;
    flex-direction: column;
}

#modal-create-body .modal-select-container {
    grid-column: 3;
}

#modal-create-body .modal-select-container {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#text {
    display: block;
    textAlignVertical: 'top';
    font-family: 'Rubik';
    font-size: 1.5rem;
    margin-top: 1rem;
    min-height: 5rem;
    resize: none
}

#modal-create-body select {
    font-family: 'Rubik';
    font-size: 1.25rem;
}